<nav class="navbar navbar-expand-lg navbar-dark bg-dark">   
    <div class="collapse navbar-collapse custom-navbar" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active">

          <a class="nav-link" routerLink="">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/repo">Repositorio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/follow">Followers</a>

        

        </li>          
      </ul>
    </div>
</nav>
